clientSoap/laye.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:8000/index.php/soap?wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MySoapService" targetNamespace="http://127.0.0.1:8000/index.php/soap?wsdl">
	<types><xsd:schema targetNamespace="http://127.0.0.1:8000/index.php/soap?wsdl"/></types>
	<portType name="MySoapServicePort">
		<operation name="list">
			<documentation>list</documentation>
			<input message="tns:listIn"/>
			<output message="tns:listOut"/>
		</operation>
		<operation name="test">
			<documentation>test</documentation>
			<input message="tns:testIn"/>
			<output message="tns:testOut"/>
		</operation>
		<operation name="create">
			<documentation>create</documentation>
			<input message="tns:createIn"/>
			<output message="tns:createOut"/>
		</operation>
		<operation name="edit">
			<documentation>edit</documentation>
			<input message="tns:editIn"/>
			<output message="tns:editOut"/>

		</operation>
		<operation name="delete">
			<documentation>delete</documentation>
			<input message="tns:deleteIn"/>
			<output message="tns:deleteOut"/>

		</operation>
		<operation name="setContainer">
			<documentation>setContainer</documentation>
			<input message="tns:setContainerIn"/>
		</operation>
		<operation name="getSubscribedServices">
			<documentation>getSubscribedServices</documentation>
			<input message="tns:getSubscribedServicesIn"/>
		</operation>
	</portType>
	<binding name="MySoapServiceBinding" type="tns:MySoapServicePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="list">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#list"/>
			<input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="test">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#test"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="create">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#create"/>
			<input><soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="edit"><soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#edit"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="delete">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#delete"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="setContainer">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#setContainer"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
		<operation name="getSubscribedServices">
			<soap:operation soapAction="http://127.0.0.1:8000/index.php/soap?wsdl#getSubscribedServices"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1:8000/index.php/soap?wsdl"/>
			</input>
		</operation>
	</binding>
	<service name="MySoapServiceService">
		<port name="MySoapServicePort" binding="tns:MySoapServiceBinding">
			<soap:address location="http://127.0.0.1:8000/index.php/soap?wsdl"/>
		</port>
	</service>
	<message name="listIn"/>
	<message name="listOut">
		<part name="users" type="xsd:anyType"/>
	</message>
	<message name="testIn">
		<part name="a" type="xsd:anyType"/>
		<part name="b" type="xsd:anyType"/>
	</message>
	<message name="testOut">
		<part name="repTest" type="xsd:anyType"/>
	</message>
	<message name="createIn">
		<part name="prenom" type="xsd:anyType"/>
		<part name="nom" type="xsd:anyType"/>
		<part name="email" type="xsd:anyType"/>
	</message>
	<message name="createOut">
		<part name="repCreate" type="xsd:anyType"/>

	</message>

	<message name="editIn">
		<part name="id" type="xsd:anyType"/>
		<part name="status" type="xsd:anyType"/>
	</message>
	<message name="editOut">
		<part name="repEdit" type="xsd:anyType"/>

	</message>

	<message name="deleteIn">
		<part name="id" type="xsd:anyType"/>
	</message>
	<message name="deleteOut">
		<part name="repDelete" type="xsd:anyType"/>
	</message>

	<message name="setContainerIn">
		<part name="container" type="xsd:anyType"/>
	</message>
	<message name="getSubscribedServicesIn"/>
</definitions>
